@import url(Root.css);
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


article {
    font-family: "Grenze", serif;
    font-weight: 600;
    font-style: italic;

    width: 87vw;

    display: flex;
    align-items: center;

    flex-direction: column;
    padding: 24px 0;
}

/* #region Serach Container Style */

article .searchContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

article .searchContainer input[type="search"] {
    padding: 5px 20px;
    width: 460px;
    border-radius: 20px;
    font-size: 24px;
    font-family: "Grenze", serif;
    font-weight: 600;
    font-style: italic;
    border: solid var(--blueBsemitransparent) 1px;
    background-color: var(--grayB);
    color: var(--whiteB);
    position: relative;
    transition: 0.75s;
}

article .searchContainer input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background: url('../Media/Imgs/ArticleImgs/cancel-x.svg') no-repeat;
    width: 28px;
    height: 28px;
    transform: scale(0.7);
    position: absolute;
    right: 10px;
    cursor: pointer;
}

article .searchContainer input[type="search"]:focus-visible {
    border: solid var(--blueBsemitransparent) 1px;
    outline: none;
    box-shadow: 0 0 20px var(--grayB);
}

article .searchContainer img {
    margin-top: 10px;
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* #endregion */