* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #363636;
}

#playerWrapper {
    background-color: blueviolet;
    padding: 12px;
    width: 100%;
}

.playerContainer {
    border-radius: 10px 100px 10px 100px;
    background-color: transparent;
}