* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow: hidden;
    background-color: #363636;
}

section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 93vh;
}