:root{
    --greyA: #484848;
    --grayB: #4D5464;
    --whiteA: #A9A9A9;
    --whiteB: #D9D9D9;
    --whiteC: #FAFBFA;
    ---whiteD: #fff;
    --blueA: #1A56F0;
    --blueB: #1756F9;
    --blueBsemitransparent: #1756F97f;
    --blueC: #4873E2;
    --purple: #A569D4;
}